[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/10imaging/opencv.git
    branch = master
[submodule "caffe"]
	path = caffe
	url = https://github.com/10imaging/caffe.git
[submodule "android-cmake"]
	path = android-cmake
	url = https://github.com/sh1r0/android-cmake.git
